.header {
  height: 100px;
  width: 100%;
  padding: 0 2rem;
  background: #fff !important;

  img {
    height: 60px;
    width: 100px;
  }

  &__logo {
    width: 50px;
  }

  & > div {
    gap: 10px;
  }

  &__avatar {
    align-self: flex-end;
    color: #f56a00;
    background-color: #fde3cf;
  }
}
