.listItem {
  max-width: 100%;
  overflow: hidden;

  &--content {
    position: relative;
    z-index: 1;
    background: #fff;
    transition: transform 0.2s ease-out;
  }

  &-active {
    background-color: #E0E0E1;
  }

  &--options {
    display: flex;
    background-color: #ef5131;
    border-radius: 5px 10px;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 55px;
    transform: translateX(100%);
    transition: transform 0.2s ease-out;
    z-index: 0;

    &-open {
      transform: translateX(0);
    }

    &-buttons {
      height: 100%;
      width: 100%;
      justify-content: center;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    span {
      margin: 0 auto;
      color: white;
      font-size: 18px;
    }
  }
}
