
.listItem {
  max-width: 100%;

  &:hover {

    .listItem--options {
      display: block;
      opacity: 1;
      background-color: #ef5131;
      border-radius: 5px 10px;
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
    }

    & > .ant-list-item {
      animation: 1s ease-in-out both decreaseWithListItem;
    }
  }

  &-active {
    background-color: #E0E0E1;
  }

  &--options {
    display: none;
    opacity: 0;
    animation: 0.4s 0.3s linear both showOptions;

    &-buttons {
      height: 100%;
      width: 100%;
      justify-content: center;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    span {
      margin: 0 auto;
      color: white;
      font-size: 18px;
    }
  }
}

@keyframes decreaseWithListItem {
  from {
    width: 100%;
  }
  to {
    width: calc(100% - 65px);
  }
}

@keyframes showOptions {
  from {
    width: 0;
  }
  to {
    width: 55px;
  }
}
